# Environment files / directories
.env
.envrc
.venv
.venv/
**/.venv/
env/
**/env/
ENV/
**/ENV/
env.bak/
venv.bak/
venv
venv/
**/venv/
.pem
**/.pem

# Python cache
__pycache__/

# Python compiled files
*.pyc
*.pyo
*.pyd

# Logger files
*.log

# Cloudflare Tunnel Credentials
**/apps/cloudflare/*.json
!**/apps/cloudflare/config.yml
